<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<div>
  <% if !current_user.premium? %>
    <h3>Upgrade Account</h3>
    <%= form_tag charges_path do %>
    <!-- The form doesn't pass the amount to the create action, so we have to pass it manually. -->
      <%= hidden_field_tag :amount, 2500  %>

      <h4>Click the button!</h4>
      <script
        class='stripe-button' 
        src="https://checkout.stripe.com/checkout.js" 
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
        data-amount="299"
        data-name="Blocipedia"
        data-description="One Year Membership"
        data-label="Upgrade Account"
        data-email="<%= current_user.email %>" >
      </script>
    <% end %>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>

<%= link_to "Back", :back %>
