
<%= form_for @wiki do |f| %>
      <% render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
        </div>

        <div>
          <%= f.label :body %>
          <%= f.text_area :body, rows: 8, class: 'form-control markdown_preview', placeholder: "Enter wiki body" %>
        </div> 

        <div class="epiceditor">
          <%= f.label :body %>
          <%= f.text_area :body, rows: 8, class: 'form-control markdown_preview', placeholder: "Enter wiki body" %>
        </div> 

        <% if policy(@wiki).make_private? %>
          <%= f.check_box :private, boolean_style: :inline %>
        <% end %>
      
      <%= f.submit "Save", class: 'btn btn-success' %>

      <script src="epiceditor.min.js">
         var editor = new EpicEditor().load();
      </script> 

    
<% end %>
