
<%= form_for @wiki do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <% render 'shared/error_messages', object: f.object %>
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved: </h2>
        <ul>
          <% @wiki.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
        </div>

        
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, id: "epictextarea", class: 'hide', placeholder: "Enter wiki body" %>

        <div id="epiceditor" class="form-control">
        </div>

        <% if @wiki.user == current_user %>
          <div class="form-group">
            <%= f.label :private %><br>
            <%= f.check_box :private %>
          </div>
        <% end %>
      
      <%= f.submit "Update", class: 'btn btn-success' %>

<% end %>
