<div class="row">
  <div class="col-sm-6">
    
      <%= form_tag (collaborators), method: put do %>
        <br/>
        <h4>Add collaborators: </h4>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Give Access</th>
          </tr>

          <%= hidden_field_tag :wiki_id, @wiki_id %>

          <% @users.each do |user| %>
            <tr>
              <td><%= user.username %></td>
              <td><%= user.email %></td>
              <td>
                <%= check_box_tag 'collaborators[]', user.id, @collaborators.include?(user), id: "collaborator_#{user.id}" %>
              </td>
            </tr>
          <% end %>
        </table>
        

  <%= submit_tag "Add Collaborators", class: 'btn btn-primary' %>

  </div> 
</div>
<% end %>

