<div class="col-md-8">
    <div class="page-header">
      <h1><%= markdown @wiki.title %></h1>
      <% if policy(@wiki).update? %> 
        <h4 style="display:inline; vertical-align:middle;"><%= @wiki.user.username %></h4>
        <%= link_to 'Edit', edit_wiki_path(@wiki), class: 'btn btn-sm btn-default' %>
        <%= link_to 'Collaborators', collaborators_wiki_path(@wiki), class: 'btn btn-primary' %>
        <%= link_to 'Delete', wiki_path(@wiki), method: :delete, class: 'btn btn-sm btn-danger' %>
      <% end %>
      
    </div>
    <%= markdown @wiki.body %>
  </div>

<br/>
 <div class="col-md-8">
    Collaborators:
    <% @wiki.collaborations.each do |collaboration| %>
      <br/>
      <%= collaboration.name %> ( <%= collaboration.email %> )
    <% end %>
    <% if @wiki.collaborations.empty? %> 
      none
    <% end %>
  </div>
